*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   min-width: 100vw;
    min-height: 100vh;
}
body{
    background-color: #fdffb6;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #fff;
    padding: 3rem  1rem ;
    width: 70vh;
   border-radius: 2rem;
   /* height: 60vh; */
   font-size: 1.8rem;
   box-shadow: 15px 20px 2px 3px rgba(0,0,0,0.39);
-webkit-box-shadow: 15px 20px 2px 3px rgba(0,0,0,0.39);
-moz-box-shadow: 15px 20px 2px 3px rgba(0,0,0,0.39);
    
}
.container h2{
    text-align: center;
}
.amount{
    padding-top: 1rem;
}
 form input, button ,select{

    width: 100%;
    border: none;
    outline: none;
    margin: 2rem 0;
    
}
 form input{
   font-size: 3rem ;
    height: 4rem;
    padding-left: 1rem ;
    border: 1px solid grey;
    font-size: 1rem;
    border-radius: 1rem;
}
.dropdown{
    display: flex;
    justify-content: center;
justify-content: space-between;
    
}
.select-container img{
     max-width:  2rem;

}
.select-container{
    display: flex;
    width: 7rem;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.4rem;
}
.select-container select{
    width: auto;
    font-size: 1.2rem;
}
.select-container select option {
    background-color: lightgray;
    
}
 .msg{
    margin: 2rem 0 1rem 0;
    text-align: center
    ;
}
button{
        color: #ffff;
        background-color: black;
        font-size: 2rem;
        padding: 1rem 0;
        border-radius: 1.25rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
}
